body{
  background-color: rgb(55, 192, 255);
  color: #efefef;
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
  font-size: 3rem;
}
button {
  padding: 15px;
  border-radius: 50%;
  font-size: 2rem;
  width: 200px;
  height: 200px;
  padding: 9px;
}
/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
} */
